* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1194px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    cursor: pointer;
}
.auth {
    margin-left: auto;
}
.login {
    background: #ebebeb;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shopping-cart {
    position: relative;
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #f66a15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.shopping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffaf19;
    font-size: 8px;
    line-height: 9px;
    color: #000;
    display: block;
    padding: 5px;
    border-radius: 50%;
}
.slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
}
.slide-text-light {
    background-color: grey;
    color: white;
}
.slide-content {
    position: relative;
    max-width: 400px;
}
.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}
.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.button-primary {
    background: #f47322;
    color: #fff;
}
.button-default {
    background: #fff;
    color: #5f5f61;
}
.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.slide-summer {
    background-image: url("../img/summer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}
.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}
.card {
    flex: 50%;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light {
    color: #fff;
}
.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}
.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}
.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}
.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}
.delivery-week {
    padding: 100px 0;
}
.delivery-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.delivery-card {
    margin: 15px;
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
}
.delivery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag {
    position: absolute;
    left: 10px;
    top: 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    padding: 5px 10px;
}
.tag-health {
    background: #d0fd89;
}
.category {
    padding-top: 40px;
    padding-bottom: 60px;
}
.tabs {
    display: flex;
    margin: 0;
    margin-bottom: 62px;
    padding: 0;
    list-style-type: none;
}
.tabs-link {
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #49494F;
    margin-right: 58px;
}
.tabs-link.active {
    color: #F37321;
}
.tabs-card {
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}
.tabs-image {
    max-width: 100%;
}
.tabs-card-content {
    padding: 23px;
}
.tabs-content {
    display: flex;
    position: relative;
}
/* gg */
.tabs-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.tabs-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}
.tabs-info {
    display: flex;
    align-items: center;
}
.tabs-price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4b4b51;
    display: block;
    margin-bottom: 5px;
}
.tabs-weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.button-outline {
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid #f37321;
    box-sizing: border-box;
    border-radius: 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #f37321;
}